
h1 {
	color: red;
	font-family: "Arial";
}

ul	li {
	 background-color: #7F7F7F;
	 color: #F0FF57;
	 font-family: "Courier New";
}

p{
color: #B42954;
font-size:20px;	
}

strong{
 color: #7806FF;
}

em{
 color: #3FA523;
}