@import url('https://fonts.googleapis.com/css?family=Roboto|Rosario');
* {
    box-sizing:border-box;
}

body{
	
	margin: 0 auto;
	padding: 0;
}


   

.container {
	
	padding: 3;	
	display: flex;
    
}



header{
	width: 100%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}




h1{
	text-align: center;
	color: #FE5531;
}


.col1{
	width: 100%;
	border: solid 1px black;
	margin: 1%;
	background: #FE5531;
	border-radius: 10px;
	box-shadow: 10px 4px 23px 0px rgba(0,0,0,1);	
}


.col2{
	width: 100%;
	border: solid 1px black;
	margin: 1%;
	background: #FE5531;
	border-radius: 10px;
	box-shadow: 10px 4px 23px 0px rgba(0,0,0,1);	
}

.col3{	
	width: 100%;
	border: solid 1px black;
	margin: 1%;
	background: #FE5531;
	border-radius: 10px;
	box-shadow: 10px 4px 23px 0px rgba(0,0,0,1);	
}




h2{
	width: 30%;
	background: white;
	margin-left: 70%;
	border: 2px solid black;
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #FE5531;
	border-radius: 0 10px 0 10px;
}


p {
	padding: 2%;
	color: white;
	font-family: 'Rosario', sans-serif;
	text-align: justify;
}

@media only screen and (max-width: 992px){

	.container{
		flex-flow: row wrap;
	}

	.col1{
		width: 48%;
	}
	.col2{
		width: 48%;
	}
	.col3{
		width: 100%;
		
}
@media only screen and (max-width: 767px){


.container {	
	
	display: flex;
    flex-direction: column;
}
	.col1{
		width: 100%;
	}
	.col2{
		width: 100%;
	}
	.col3{
		width: 100%;
		
}
}


